body {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 3.8em;
}

h2 {
    font-size: 3em;
}

.page-title {
    text-align: center;
}

ul {
    list-style-type: none;
}

#name {
    margin-left: 25%;
    margin-top: 7%
}

#site-nav {
    margin: 0 auto;
    overflow: hidden;
}

.links {
    font-size: 2em;
    text-decoration: none;
    color: #ccc;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}

.links:hover {
    border-bottom-style: solid;
    border-color: #aaa;
    color: #aaa;
}

#home-link {
    color: #777;
}

#home-link:hover {
    color: #555;
    border-bottom-style: none;
}

