body {
	width: 700px;
	margin-left: auto;
	margin-right: auto;
	background-color: #5C5047;
	color: white;
	font-family: 'Roboto', sans-serif;
	font-size: 1em;
	text-align: justify;
	background-image: url("../images/card15.jpg");
}

p {
	font-style: normal;
	color: ;
}

.name {
	font-family: 'Garamond', serif;
	text-align: center;
	color: white;
	font-size: 3.1em;
	margin-top: 50px;
	text-shadow: 1px 1px 1px #222222;
}

a {
	text-decoration: none;
	color: moccasin;
	padding-right: 10px;
}

ul {
	list-style-type: none;
	margin-left: 0px;
}

nav {
	text-align: center;
	margin-top: -35px;
}

.uppercase {
	text-transform: uppercase;	
}

.bold {
	font-weight: bold;
}

.italic {
	font-style: italic;
}
