h1 {
	font-size: 4.2em;
	text-align: center;
	color: moccasin;
	font-family: 'Garamond', serif;
	margin-top: 50px;
	text-shadow: 2px 2px 2px #222222;
}

a {
	color: white;
	font-family: 'Roboto', sans-serif;
	font-size: 1.7em;
	padding-right: 20px;
	margin-top: -10px;
}

.centered {
	height: 300px;
	width: 700px;
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

nav {
	margin-top: -50px;
	margin-left: 25px;
}



